<nav class="top-bar" data-topbar role="navigation" ng-controller="NavbarCtrl">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">MovieJournal</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a ng-href="#/">Home</a></li>
      <li><a ui-sref='journal({userId: user.pk})'>My Journal</a></li>
      <li><a ui-sref='watchlist({userId: user.pk})'>My Watchlist</a></li>
    </ul>
    <ul class="left">
      <li class="has-dropdown has-form">
        <div class="row collapse">
          <div class="large-12 small-12 columns">
            <input type="text" ng-model="query" ng-change="searchFor()" placeholder="Find Stuff">
          </div>
        </div>
        <ul class="dropdown">
          <li ng-repeat="movie in movieResults | limitTo: 3">
            <a href="#/movie/{{movie.id}}">{{movie.title}}</a>
          </li>
          <!--<li ng-repeat="star in starResults | limitTo: 3">
            <a href="#">{{star.name}}</a>
          </li>-->
          <li ng-repeat="user in userResults | limitTo: 3">
            <a ui-sref="journal({userId : user.pk})">{{user.fields.username}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
