<div class="container">
	<h1>{{title}}</h1>
	<div class="row">
		<div class="large-4 columns">
			<form ng-submit="register()">
				<div class="row">
				    <div class="large-12 columns">
				      	<label>Username
				        	<input ng-model="username" type="text" placeholder="username" />
				      	</label>
		    		</div>
		  		</div>
				<div class="row">
				    <div class="large-12 columns">
				      	<label>Password
				        	<input ng-model="password" type="password" placeholder="password" />
				      	</label>
		    		</div>
		  		</div>
				<div class="row">
				    <div class="large-12 columns">
				      	<label>E-Mail
				        	<input ng-model="email" type="email" placeholder="e.g. john@gmail.com" />
				      	</label>
		    		</div>
		  		</div>
		  		<div class="row">
		  			<div class="large-12 columns">
		  				<input type="submit" role="button" aria-label="submit form" href="#" class="button"
		  				value="Register" />
					</div>
		  		</div>
		  	</form>	
		</div>
	</div>
</div>